In [1]:
# Imports
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.model_selection import train_test_split

In [2]:
# initialize dataframe
telecom_df = pd.read_csv('telecom.csv')

In [3]:
# quick check for columns
telecom_df.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [4]:
# quick look at data
telecom_df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [5]:
# check for nulls
telecom_df.isnull().sum()

state                     0
account length            0
area code                 0
phone number              0
international plan        0
voice mail plan           0
number vmail messages     0
total day minutes         0
total day calls           0
total day charge          0
total eve minutes         0
total eve calls           0
total eve charge          0
total night minutes       0
total night calls         0
total night charge        0
total intl minutes        0
total intl calls          0
total intl charge         0
customer service calls    0
churn                     0
dtype: int64

In [6]:
# check dtypes
telecom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

# EDA

In [7]:
# Columns to drop: phone number, area code
telecom_df = telecom_df.drop(['area code', 'phone number'], axis=1)

In [8]:
# Columns to change to 0 and 1: international plan, voice mail plan, churn
print(telecom_df['international plan'].value_counts())
print(telecom_df['voice mail plan'].value_counts())
print(telecom_df['churn'].value_counts())

no     3010
yes     323
Name: international plan, dtype: int64
no     2411
yes     922
Name: voice mail plan, dtype: int64
False    2850
True      483
Name: churn, dtype: int64

In [9]:
# map 0s and 1s
telecom_df['international plan'] = telecom_df['international plan'].map({'no': 0, 'yes': 1})
telecom_df['voice mail plan'] = telecom_df['voice mail plan'].map({'no': 0, 'yes': 1})
telecom_df['churn'] = telecom_df['churn'].map({False: 0, True: 1})

In [10]:
# recheck
print(telecom_df['international plan'].value_counts())
print(telecom_df['voice mail plan'].value_counts())
print(telecom_df['churn'].value_counts())

0    3010
1     323
Name: international plan, dtype: int64
0    2411
1     922
Name: voice mail plan, dtype: int64
0    2850
1     483
Name: churn, dtype: int64

In [11]:
telecom_df = pd.get_dummies(telecom_df)

In [12]:
telecom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 69 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   account length          3333 non-null   int64
 1   international plan      3333 non-null   int64
 2   voice mail plan         3333 non-null   int64
 3   number vmail messages   3333 non-null   int64
 4   total day minutes       3333 non-null   float64
 5   total day calls         3333 non-null   int64
 6   total day charge        3333 non-null   float64
 7   total eve minutes       3333 non-null   float64
 8   total eve calls         3333 non-null   int64
 9   total eve charge        3333 non-null   float64
 10  total night minutes     3333 non-null   float64
 11  total night calls       3333 non-null   int64
 12  total night charge      3333 non-null   float64
 13  total intl minutes      3333 non-null   float64
 14  total intl calls        3333 non-null   int64
 15  total intl charge       3333 non-null   float64
 16  customer service calls  3333 non-null   int64
 17  churn                   3333 non-null   int64
 18  state_AK                3333 non-null   uint8
 19  state_AL                3333 non-null   uint8
 20  state_AR                3333 non-null   uint8
 21  state_AZ                3333 non-null   uint8
 22  state_CA                3333 non-null   uint8
 23  state_CO                3333 non-null   uint8
 24  state_CT                3333 non-null   uint8
 25  state_DC                3333 non-null   uint8
 26  state_DE                3333 non-null   uint8
 27  state_FL                3333 non-null   uint8
 28  state_GA                3333 non-null   uint8
 29  state_HI                3333 non-null   uint8
 30  state_IA                3333 non-null   uint8
 31  state_ID                3333 non-null   uint8
 32  state_IL                3333 non-null   uint8
 33  state_IN                3333 non-null   uint8
 34  state_KS                3333 non-null   uint8
 35  state_KY                3333 non-null   uint8
 36  state_LA                3333 non-null   uint8
 37  state_MA                3333 non-null   uint8
 38  state_MD                3333 non-null   uint8
 39  state_ME                3333 non-null   uint8
 40  state_MI                3333 non-null   uint8
 41  state_MN                3333 non-null   uint8
 42  state_MO                3333 non-null   uint8
 43  state_MS                3333 non-null   uint8
 44  state_MT                3333 non-null   uint8
 45  state_NC                3333 non-null   uint8
 46  state_ND                3333 non-null   uint8
 47  state_NE                3333 non-null   uint8
 48  state_NH                3333 non-null   uint8
 49  state_NJ                3333 non-null   uint8
 50  state_NM                3333 non-null   uint8
 51  state_NV                3333 non-null   uint8
 52  state_NY                3333 non-null   uint8
 53  state_OH                3333 non-null   uint8
 54  state_OK                3333 non-null   uint8
 55  state_OR                3333 non-null   uint8
 56  state_PA                3333 non-null   uint8
 57  state_RI                3333 non-null   uint8
 58  state_SC                3333 non-null   uint8
 59  state_SD                3333 non-null   uint8
 60  state_TN                3333 non-null   uint8
 61  state_TX                3333 non-null   uint8
 62  state_UT                3333 non-null   uint8
 63  state_VA                3333 non-null   uint8
 64  state_VT                3333 non-null   uint8
 65  state_WA                3333 non-null   uint8
 66  state_WI                3333 non-null   uint8
 67  state_WV                3333 non-null   uint8
 68  state_WY                3333 non-null   uint8
dtypes: float64(8), int64(10), uint8(51)
memory usage: 634.8 KB

# Data Preparation

In [14]:
# initialize variables
X = telecom_df.drop('churn', axis=1)
y = telecom_df['churn']

In [17]:
# Train Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [18]:
# check
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(2333, 68)
(1000, 68)
(2333,)
(1000,)

In [ ]:
# Modeling

In [ ]:
# Logistic Regression
# Decision Tree